@font-face {
	font-family: 'woo';
	src: url('../fonts/woo.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'star';
	src: url('../fonts/stars.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}