#conteudo{
    background: #dcdcdc;
    height: 600px;
    display: flex;
    /*
        row/row-reverse/column/colum-reverse
    */
    /*flex-direction:row;*/
    /*
        nowrap/wrap/wrap-reverse
    */
    /*flex-wrap: wrap;*/
    /* 
        flex-start/flex-end/center/space-between/space-around
    */
    /*justify-content: space-around;*/
    /*
        stretch/center/flex-start/flex-end/baseline
    */
    /*align-items: flex-start;*/
}

.item {
    background: #ffffff;
    /*width: 200px;*/
    height: 100px;
    margin: 10px;
    border: 1px solid black;

    /* Define proporção de espaço ocupado por um item */
    flex-grow: 0;

    /* Define a capacidade de redução do item */
    flex-shrink: 1;

    /* Indica o tamanho incial do flex item antes da distribuição do espaço restante */
    flex-basis: 200px;
}

/*.ordem1{
    order: 1;
    /*flex-grow: 1;*/
/*}*/
/*.ordem2{
    order: 2;
}
.ordem3{
    order: 3;
}
.ordem4{
    order: 4;
}*/

.item1{
    /*flex-grow: 1;*/
    /*flex-shrink: 1;*/
}

.item2{
    flex-grow: 2;
    /*flex-shrink: 2;*/
}

.item3{
    /*flex-shrink: 15;*/
}