.entry-summary {
	form.cart {
		margin-top: 40px;
		padding-top: 40px;
		border-top: 1px solid $border-color;

		&:before, &:after {
			content: '';
			display: table;
		}

		&:after {
			clear: both;
		}
	}

	.added_to_cart,
	.single_add_to_cart_button {
		--buttonMinHeight: 55px;
	}

	.added_to_cart {
		--buttonTextInitialColor: var(--color);
		--buttonTextHoverColor: var(--color);
		--buttonInitialColor: rgba(224,229,235,0.6);
		--buttonHoverColor: rgba(224,229,235,1);
	}
}


// only for simple and variable products
.ct-cart-actions {
	display: var(--display, grid);
	grid-template-columns: 110px 1fr 1fr;
	grid-column-gap: 15px;
	grid-row-gap: 15px;
	width: 100%;
	max-width: 750px;
	margin-left: auto;
	margin-right: auto;

	> * {
		grid-column: var(--gridColumn, 1/-1);
	}

	.quantity {
		--gridColumn: 1;
		grid-row: 1;
	}

	.single_add_to_cart_button {
		grid-row: 1;

		&:not(.added) {
			width: var(--button-width);
			--gridColumn: span 2;
		}

		&.added {
			@include media-breakpoint-down (xs) {
				--gridColumn: span 2;
			}

			@include media-breakpoint-up (sm) {
				--gridColumn: span 1;
			}
		}
	}

	.added_to_cart {
		@include media-breakpoint-down (xs) {
			grid-row: 2;
		}

		@include media-breakpoint-up (sm) {
			--gridColumn: span 1;
			grid-row: 1;
		}
	}

	// disabled quantity input
	.quantity.hidden + .single_add_to_cart_button {
		@include media-breakpoint-down (xs) {
			--gridColumn: 1/-1;
		}

		@include media-breakpoint-up (sm) {
			--gridColumn: 1 / span 2;
		}
	}
}