.entry-summary {

	.ct-share-box {
		margin-top: 40px;
		padding-top: 40px;
		border-top: 1px solid rgba(224, 229, 235, 0.8);

		.ct-module-title {
			--font-weight: 600;
			--margin: 0 0 20px 0;
		}
	}
}